@use "../../../../static/scss/variables" as *;
@use "../../../../static/scss/mixins" as *;

/* Scroll-Down Arrow */
#scroll-down-arrow {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
    // Font size
    font-size: 3rem;
    @include for-size(phone, down) {
        font-size: 2rem;
    }
    @include for-size(phone-sm, down) {
        font-size: 1.5rem;
    }
    // Color
    color: $white-semi-transparent;
    text-shadow: 1px 1px 20px $black;
    animation: $bounce-infinite;
    z-index: $z-index-scroll-arrow;
    transition:
        color $transition-fast,
        opacity $transition-medium;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
    // Hover
    @include for-size(tablet-lg, up) {
        &:hover {
            color: darken($white, 10%);
        }
    }
    // Text
    p {
        font-size: $s-font;
        @include for-size(phone, down) {
            font-size: $xs-font;
        }
        @include for-size(phone-sm, down) {
            font-size: $xxs-font;
        }
    }
}

/* Scroll-to-Top Arrow */
#scroll-to-top-arrow {
    position: relative;
    left: 50%;
    bottom: 5%;
    text-align: center;
    cursor: pointer;
    // Font size
    font-size: 3rem;
    @include for-size(phone, down) {
        font-size: 2rem;
    }
    @include for-size(phone-sm, down) {
        font-size: 1.5rem;
    }
    // Animation
    animation: $bounce-infinite;
    // Color
    color: $white-semi-transparent;
    text-shadow: 1px 1px 20px $black;
    transition: color $transition-fast;
    // Hover
    @include for-size(tablet-lg, up) {
        &:hover {
            color: darken($white, 10%);
        }
    }
    // Text
    p {
        font-size: $s-font;
        @include for-size(phone, down) {
            font-size: $xs-font;
        }
        @include for-size(phone-sm, down) {
            font-size: $xxs-font;
        }
    }
}

/* Bounce Animation */
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-10px);
    }
    60% {
        transform: translateX(-50%) translateY(-5px);
    }
}
