{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extra_title %}
  Verify Your Email
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}" />
{% endblock %}

{% block content %}
  {% include 'partials/rock-background.html' %}
  <div class="container">
    <div class="auth-container">
      <h1>{% trans 'Verify Your Email' %}</h1>

      <div class="email-icon">
        <i class="fa-solid fa-envelope"></i>
      </div>

      <div class="verification-message">
        <p>
          {% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}
        </p>
      </div>

      <div class="auth-links">
        <a href="{% url 'home' %}" class="button-very-small">{% trans 'Return to Home' %}</a>
      </div>
    </div>
  </div>
{% endblock %}
