@use "variables" as *;

.progressbar {
    counter-reset: step;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;

    li {
        position: relative;
        flex: 1;
        text-align: center;
        font-size: 14px;
        color: #ccc;

        &:before {
            content: counter(step);
            counter-increment: step;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border: 2px solid #ccc;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: #fff;
        }

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: #ccc;
            top: 15px;
            left: -50%;
            z-index: -1;
        }

        &:first-child {
            &:after {
                content: none;
            }
        }
    }

    // Mixin for active styling
    @mixin active-style {
        color: $light-green;
        font-weight: bold;

        &:before {
            border-color: $light-green;
            background-color: $light-green;
            color: $white;
        }
    }

    // Mixin for current step styling
    @mixin current-step {
        @include active-style;
        color: darken($light-green, 20%);
        
        &:before {
            background-color: darken($light-green, 20%);
            border-color: darken($light-green, 20%);
            transform: scale(1.1);
        }
    }

    // Modifier for when we are on step 1
    &.progressbar--step-1 {
        li:nth-child(1) {
            @include current-step;
        }
        li:nth-child(1)::after {
            background: $light-green;
        }
    }

    // Modifier for when we are on step 2
    &.progressbar--step-2 {
        li:nth-child(-n + 2) {
            @include active-style;
        }
        li:nth-child(2) {
            @include current-step;
        }
        li:nth-child(2)::after {
            background: $light-green;
        }
    }

    // Modifier for when we are on step 3
    &.progressbar--step-3 {
        li:nth-child(-n + 3) {
            @include active-style;
        }
        li:nth-child(3) {
            @include current-step;
        }
    }
}
