{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
  Home
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class="hero-section">
  <!-- Hero Image 1 -->
  <div id="hero-image1" class="hero-image"></div>
  <!-- Hero Image 2 -->
  <div id="hero-image2" class="hero-image"></div>
  <!-- Hero Image 3 -->
  <div id="hero-image3" class="hero-image"></div>
  <!-- Hero Image 4 -->
  <div id="hero-image4" class="hero-image"></div>
  <!-- Hero Image 5 -->
  <div id="hero-image5" class="hero-image"></div>
  <!-- Hero Image 6 -->
  <div id="hero-image6" class="hero-image"></div>
</div>
<!-- Scroll Down Arrow -->
<div id="scroll-down-arrow" class="text-align-center" data-target="text-box-1">
  <i class="fa-solid fa-chevron-down"></i>
  <p>Scroll Down</p>
</div>
<!-- Scrolling Content Section -->
<div class="content-section">
  <!-- Welcome -->
  <div class="text-box-container">
    <div id="text-box-1" class="text-box roboto-condensed">
      <h1>Welcome</h1>
      <div class="row">
        <div class="col-12 col-lg-6">
          <p class="text-content">
            Discover the best bouldering spots around Akamas and the villages of Droushia and Inia, with the "Bouldering Cyprus Guide" book.
          </p>
          <p class="text-content">
            Featuring detailed maps and directions, GPS locations, route descriptions and photos, as well as stunning photography, it's the ultimate companion for your climbing adventures.
          </p>
        </div>
        <div class="col-12 col-lg-6">
          <p class="text-content">
            Years of exploration and dedication by the local bouldering community cultivated this guidebook to be the most comprehensive and up-to-date resource for bouldering in Cyprus.
          </p>
          <p>
            <a href="{% url 'shop' %}" class="button-large">Buy the Guidebook</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Bouldering in Cyprus -->
  <div class="text-box-container">
    <div id="text-box-2" class="text-box roboto-condensed">
      <h1>Bouldering in Cyprus</h1>
      <div class="row">
        <div class="col-12 col-lg-6">
          <p class="text-content">
            Bouldering can be regarded as still being relatively in its infancy in Cyprus, experiencing a boom over the past few years.
          </p>
          <p class="text-content">
            For the sake of those who are not familiar with the sport, bouldering is a form of rock climbing that is performed without the use of ropes or harnesses. Instead, climbers use crash pads to protect themselves from falls.
          </p>
        </div>
        <div class="col-12 col-lg-6">
          <p class="text-content">
            It is a great way to build strength, improve your climbing technique, test your limits and have fun with friends.
          </p>
          <p class="text-content">
            All while spending time outdoors and enjoying the beautiful Cyprus landscape in and around the Akamas Peninsula.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Why Cyprus? -->
  <div class="text-box-container">
    <div id="text-box-3" class="text-box roboto-condensed">
      <h1>Why Cyprus?</h1>
      <div class="row">
        <div class="col-12 col-lg-6">
          <p class="text-content">
            With its stunning landscapes, warm climate, and friendly locals, Cyprus is the perfect destination for climbers of all levels.
          </p>
          <p class="text-content">
            Whether you're looking for easy problems or hard projects, bouldering in Cyprus has something for everyone, with more than 700 bouldering problems ranging from f3 (V0) to f8A (V11).
          </p>
          <p class="text-content">
            This pristine area on the western coast of Cyprus offers a wide range of bouldering spots scattered across the hills and valleys, from small lowballs to huge highball boulders, offering various styles of climbing on quality sandstone rock. There is a lot more potential for development for those feeling adventurous.
          </p>
        </div>
        <div class="col-12 col-lg-6">
          <p class="text-content">
            The bouldering spots are extremely easily accessible, due to the presence of farmer roads and tracks that lead to and go around the boulders, meaning that you rarely have walking approaches longer than 5 minutes.
          </p>
          <p class="text-content">
            The bouldering spots are also very close to the sea, meaning that you can easily combine your bouldering sessions with a dip in the sea.
          </p>
          <p class="text-content">
            This area also boasts some of the best sport climbing crags on the island, with "Gerakopetra" (Hawk Rock) being the most famous one, with more in the wider Paphos region.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Weather and Winter Conditions -->
  <div class="text-box-container">
    <div id="text-box-4" class="text-box roboto-condensed">
      <h1>Ideal Winter Destination</h1>
      <div class="row">
        <div class="col-12 col-lg-6">
          <p class="text-content">
            Cyprus offers excellent climbing conditions throughout most of the year, with only the warmest summer months posing a challenge due to higher temperatures (even then, climbing early morning or late evening is common among the locals).
          </p>
          <p class="text-content">
            Autumn and spring provide ideal weather for climbing, while winter boasts perfect conditions. When much of Europe faces snow, rain, and freezing temperatures, Cyprus enjoys sunny skies and mild, pleasant weather. Climbers can comfortably enjoy their sessions and even relax on the beach under the winter sun, making the island an exceptional sunny winter getaway.
          </p>
        </div>
        <div class="col-12 col-lg-6">
          <p class="text-content">
            These favorable conditions make Cyprus a versatile climbing destination, allowing enthusiasts to plan trips during various seasons while enjoying the island's diverse landscapes and cultural experiences.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Visiting with family or non-climbers -->
  <div class="text-box-container">
    <div id="text-box-5" class="text-box roboto-condensed">
      <h1>Visiting with family or non-climbers</h1>
      <div class="row">
        <div class="col-12 col-lg-6">
          <p class="text-content">
            Cyprus is famous for its warm hospitality, friendly locals, delicious cuisine, vibrant culture, and rich history — making it an ideal destination to visit with family or friends who aren't climbers. Short travel distances and easy road access to the boulders, make it easy to combine your bouldering adventures with other enjoyable activities.
          </p>
          <p class="text-content">
            Explore ancient ruins and historical sites, relax on pristine beaches, or wander through charming villages in the picturesque Paphos region and beyond. Wine enthusiasts can also discover renowned wine routes, visiting local vineyards and wineries for tastings and tours, uncovering the island's rich winemaking traditions.
          </p>
        </div>
        <div class="col-12 col-lg-6">
          <p class="text-content">
            Nature lovers will appreciate exploring Akamas National Park, known for its stunning raw landscapes, rich fauna and flora, and excellent birdwatching opportunities with over 200 recorded species of birds.
          </p>
          <p class="text-content">
            There's truly something for everyone to enjoy on the island.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Crashpad Rentals -->
  <div class="text-box-container">
    <div id="text-box-6" class="text-box roboto-condensed">
      <h1>Crashpad Rentals Available</h1>
      <div class="row">
        <div class="col-12 col-lg-6">
          <p class="text-content">
            No need to bring your own crashpads; rentals are available on-site in Droushia village (5 minutes from the bouldering spots) at the
            <a
              class="link"
              href="https://traveleto.com/hotel/cy/sappho-manor-house.html"
              target="_blank"
              rel="noopener noreferrer"
            >Sappho Manor House</a>
            accommodation.
          </p>
          <p class="text-content">
            Convenient, affordable, and high-quality crashpads to ensure a safe and enjoyable bouldering experience.
          </p>
        </div>
        <div class="col-12 col-lg-6">
          <p class="text-content">
            Please book in advance to avoid disappointment.
          </p>
          <p>
            <a href="{% url 'rentals:booking' %}" class="button-large">Check Availability &amp; Book</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Side Navigation Toggle (Right Aligned) -->
<button
  id="side-nav-toggle"
  class="position-fixed"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasSidebar"
  aria-controls="offcanvasSidebar"
  aria-label="Toggle page navigation menu"
>
  <i class="fa-solid fa-ellipsis-vertical"></i>
</button>
<!-- Offcanvas Sidebar -->
<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasSidebar"
  aria-labelledby="offcanvasSidebarLabel"
>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvasSidebarLabel">Page Contents</h4>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column" id="side-navigation">
      <li class="nav-item" data-target="#text-box-1" title="Welcome">
        <a href="javascript:void(0)" class="nav-link">
          <span>Welcome</span>
        </a>
      </li>
      <li class="nav-item" data-target="#text-box-2" title="Bouldering in Cyprus">
        <a href="javascript:void(0)" class="nav-link">
          <span>Bouldering in Cyprus</span>
        </a>
      </li>
      <li class="nav-item" data-target="#text-box-3" title="Why Cyprus?">
        <a href="javascript:void(0)" class="nav-link">
          <span>Why Cyprus?</span>
        </a>
      </li>
      <li class="nav-item" data-target="#text-box-4" title="Ideal Winter Destination">
        <a href="javascript:void(0)" class="nav-link">
          <span>Ideal Winter Destination</span>
        </a>
      </li>
      <li class="nav-item" data-target="#text-box-5" title="Visiting with family or non-climbers">
        <a href="javascript:void(0)" class="nav-link">
          <span>Visiting with family or non-climbers</span>
        </a>
      </li>
      <li class="nav-item" data-target="#text-box-6" title="Crashpad Rentals Available">
        <a href="javascript:void(0)" class="nav-link">
          <span>Crashpad Rentals Available</span>
        </a>
      </li>
      <li class="nav-item" data-target="footer" title="Follow Us">
        <a href="javascript:void(0)" class="nav-link">
          <span>Follow Us</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- Scroll-to-Top Arrow -->
<div id="scroll-to-top-arrow">
  <i class="fa-solid fa-chevron-up"></i>
  <p>Back To Top</p>
</div>
{% endblock %}

{% block postload_js %}
  {{ block.super }}
<script src="{% static 'home/js/index.js' %}"></script>
{% endblock %}
