{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
  Home
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class="hero-section">
  <!-- Hero Image 1 -->
  <div id="hero-image1" class="hero-image"></div>
  <!-- Hero Image 2 -->
  <div id="hero-image2" class="hero-image"></div>
  <!-- Hero Image 3 -->
  <div id="hero-image3" class="hero-image"></div>
  <!-- Hero Image 4 -->
  <div id="hero-image4" class="hero-image"></div>
  <!-- Hero Image 5 -->
  <div id="hero-image5" class="hero-image"></div>
</div>
<!-- Scroll Down Arrow -->
<div id="scroll-down-arrow" class="text-align-center" data-target="text-box-1">
  <i class="fa-solid fa-chevron-down"></i>
  <p>Scroll Down</p>
</div>
<!-- Scrolling Content Section -->
<div class="content-section">
  <!-- Welcome to Bouldering Cyprus -->
  <div class="text-box-container">
    <div id="text-box-1" class="text-box roboto-condensed">
      <h1>Welcome</h1>
      <p class="text-content">
        Discover the best bouldering spots on the island with the "Bouldering Cyprus Guide" book.
        <br>
        Featuring detailed maps and directions, GPS locations, route descriptions and photos, as well as stunning photography, it's the ultimate companion for your climbing adventures.
        <br>
        Years of exploration and dedication by the local bouldering community cultivated this guidebook to be the most comprehensive and up-to-date resource for bouldering in Cyprus.
      </p>
      <p>
        <a href="{% url 'shop' %}" class="button-large">Buy the Guidebook</a>
      </p>
    </div>
  </div>
  <!-- What is Bouldering -->
  <div class="text-box-container">
    <div id="text-box-2" class="text-box roboto-condensed">
      <h1>Bouldering in Cyprus</h1>
      <p class="text-content">
        Bouldering can be regarded as still being relatively in its infancy in Cyprus, experiencing a boom over the past few years.
        <br>
        For the sake of those who are not familiar with the sport, bouldering is a form of rock climbing that is performed without the use of ropes or harnesses. Instead, climbers use crash pads to protect themselves from falls.
        <br>
        It is a great way to build strength, improve your climbing technique, test your limits and have fun with friends.
        <br>
        All while spending time outdoors and enjoying the beautiful Cyprus landscape in and around the Akamas Peninsula.
      </p>
    </div>
  </div>
  <!-- Why Bouldering Cyprus -->
  <div class="text-box-container">
    <div id="text-box-3" class="text-box roboto-condensed">
      <h1>Why Cyprus?</h1>
      <p class="text-content">
        With its stunning landscapes, warm climate, and friendly locals, Cyprus is the perfect destination for climbers of all levels.
        <br>
        Whether you're looking for easy problems or hard projects, bouldering in Cyprus has something for everyone, with around 700 bouldering problems ranging from f3 (V0) to f8A (V11).
        <br>
        This area on the western coast of Cyprus offers a wide range of bouldering spots scattered across the hills and valleys, from small to huge boulders, offering various styles of climbing on quality sandstone rock.
      </p>
    </div>
  </div>
  <!-- Weather and Winter Conditions -->
  <div class="text-box-container">
    <div id="text-box-4" class="text-box roboto-condensed">
      <h1>Ideal Winter Destination or Visiting with Family</h1>
      <p class="text-content">
        Unlike many other climbing destinations in Europe, Cyprus offers ideal climbing conditions during the winter months, when northern Europe is usually covered in snow, rain and freezing temperatures.
        <br>
        With sunny weather and mild temperatures, you can enjoy your climbing sessions in comfortable conditions while even hitting the beach under the winter sun, making it a great sunny winter getaway for climbers.
        <br>
        Cyprus is known for its hospitality, friendly locals, food, culture and history, making it a great destination for visiting with your family. Short distances and easy access means that you can easily combine climbing with other activities in the Paphos region or the even the rest of the island.
      </p>
    </div>
  </div>
  <!-- Crashpad Rentals -->
  <div class="text-box-container">
    <div id="text-box-5" class="text-box roboto-condensed">
      <h1>Crashpad Rentals Available</h1>
      <p class="text-content">
        No need to bring your own crashpads; rentals are available on-site in Droushia village at Sappho Manor House accommodation.
        <br>
        Convenient, affordable, and high-quality crashpads to ensure a safe and enjoyable bouldering experience.
        <br>
        Please book in advance to avoid disappointment.
      </p>
      <p>
        <a href="{% url 'rentals:booking' %}" class="button-large">Check Availability &amp; Book</a>
      </p>
    </div>
  </div>
</div>
<!-- Side Navigation Toggle (Right Aligned) -->
<button
  id="side-nav-toggle"
  class="position-fixed"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasSidebar"
  aria-controls="offcanvasSidebar"
  aria-label="Toggle page navigation menu"
>
  <i class="fa-solid fa-ellipsis-vertical"></i>
</button>
<!-- Offcanvas Sidebar -->
<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasSidebar"
  aria-labelledby="offcanvasSidebarLabel"
>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvasSidebarLabel">Page Contents</h4>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column" id="side-navigation">
      <li class="nav-item" data-target="#text-box-1" title="Welcome to Bouldering Cyprus">
        <a href="javascript:void(0)" class="nav-link">
          <span>Welcome to Bouldering Cyprus</span>
        </a>
      </li>
      <li class="nav-item" data-target="#text-box-2" title="What is Bouldering?">
        <a href="javascript:void(0)" class="nav-link">
          <span>What is Bouldering?</span>
        </a>
      </li>
      <li class="nav-item" data-target="#text-box-3" title="Why Bouldering Cyprus?">
        <a href="javascript:void(0)" class="nav-link">
          <span>Why Bouldering Cyprus?</span>
        </a>
      </li>
      <li class="nav-item" data-target="#text-box-4" title="Climb in Perfect Winter Conditions">
        <a href="javascript:void(0)" class="nav-link">Ideal Winter Destination or Visiting with Family</a>
      </li>
      <li class="nav-item" data-target="#text-box-5" title="Crashpad Rentals Available">
        <a href="javascript:void(0)" class="nav-link">
          <span>Crashpad Rentals Available</span>
        </a>
      </li>
      <li class="nav-item" data-target="footer" title="Follow Us">
        <a href="javascript:void(0)" class="nav-link">
          <span>Follow Us</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- Scroll-to-Top Arrow -->
<div id="scroll-to-top-arrow">
  <i class="fa-solid fa-chevron-up"></i>
  <p>Back To Top</p>
</div>
{% endblock %}

{% block postload_js %}
  {{ block.super }}
<script src="{% static 'home/js/index.js' %}"></script>
{% endblock %}
