{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Welcome to Bouldering Cyprus</h1>
      <p>
        Bouldering Cyprus is the ultimate guide to the best bouldering spots in Cyprus. Discover the most popular climbing areas, find detailed route descriptions, and explore stunning photography. Whether you're a beginner or an experienced climber, Bouldering Cyprus has something for everyone.
      </p>
    </div>
  </div>
  {% endblock %}