<div aria-live="polite" aria-atomic="true" class="position-relative">
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    {% if messages %}
      {% for message in messages %}
        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header {{ message.tags }}">
            <strong class="me-auto">
              {{ message.extra_tags|default:message.tags|capfirst|default:"Message"|safe }}
            </strong>
            <small class="text-muted">Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            {{ message }}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
