@use "../../../../static/scss/variables" as *;
@use "../../../../static/scss/mixins" as *;

/* Text Font */
p {
    font-size: $m-font;
    @include for-size(tablet-lg, down) {
        font-size: $s-font;
    }
    @include for-size(phone, down) {
        font-size: $xs-font;
    }
}

h1,
h2,
h3,
h4 {
    color: $orange;
}
