/* Colors */
/* Fonts */
/* Font Sizes */
/* Z-Index */
/* Animation */
/* Element First Media Queries
========================================================= */
/* Button Mixin
========================================================= */
/* Full page background wrapper */
.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.background-wrapper picture, .background-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* Centered container with a slightly transparent background */
h1, h2, h3 {
  color: #ed6c2c;
}

.form-control {
  width: 70px;
}
@media (max-width: 768px) {
  .form-control {
    width: 60px;
  }
}

.btn-checkout-text {
  line-height: 1.2;
}

.checkout-subscript {
  font-size: 0.5em;
  font-style: italic;
  vertical-align: baseline;
}

.cart-item-image {
  max-width: 50px;
  height: auto;
}

.card-body a {
  color: #ed6c2c;
}
.card-body a:hover {
  color: #d45212;
}

/* Hero Images */
#hero-image,
#hero-image2 {
  width: 100%;
  height: 50vh;
  /* Covers half the viewport height */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Responsive Hero Images */
#hero-image {
  background-image: url(../images/hero_image1/sunset_cloudy_climber_diedro_1920.webp);
}
@media (max-width: 1441px) {
  #hero-image {
    background-image: url(../images/hero_image1/sunset_cloudy_climber_diedro_1440.webp);
  }
}
@media (max-width: 1024px) {
  #hero-image {
    background-image: url(../images/hero_image1/sunset_cloudy_climber_diedro_1024.webp);
  }
}
@media (max-width: 640px) {
  #hero-image {
    background-image: url(../images/hero_image1/sunset_cloudy_climber_diedro_640.webp);
  }
}

#hero-image2 {
  background-image: url(../images/hero_image2/gerakopetra_hill_boulderer_walking_1920.webp);
}
@media (max-width: 1441px) {
  #hero-image2 {
    background-image: url(../images/hero_image2/gerakopetra_hill_boulderer_walking_1440.webp);
  }
}
@media (max-width: 1024px) {
  #hero-image2 {
    background-image: url(../images/hero_image2/gerakopetra_hill_boulderer_walking_1024.webp);
  }
}
@media (max-width: 640px) {
  #hero-image2 {
    background-image: url(../images/hero_image2/gerakopetra_hill_boulderer_walking_640.webp);
  }
}

.button-remove {
  color: #caa098;
  text-shadow: #c25a46 1px 1px 2px;
}
.button-remove:hover {
  color: #c25a46;
}

.button-update {
  background-color: #f4edd2;
  box-shadow: 3px 3px 0px 0px #ed6c2c;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 3px 3px;
  font-size: 1.2rem;
}
@media (min-width: 1024px) {
  .button-update:hover {
    background-color: #ed6c2c;
    color: #ffffff;
  }
}
@media (max-width: 1024px) {
  .button-update {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .button-update {
    font-size: 0.8rem;
  }
}

.button-checkout {
  background-color: #b5cbb2;
  box-shadow: 3px 3px 0px 0px #cbdbe2;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 5px 10px;
  font-size: 1.6rem;
}
@media (min-width: 1024px) {
  .button-checkout:hover {
    background-color: #cbdbe2;
  }
}
@media (max-width: 1024px) {
  .button-checkout {
    font-size: 1.4rem;
  }
}
@media (max-width: 767px) {
  .button-checkout {
    font-size: 1.2rem;
  }
}
@media (max-width: 420px) {
  .button-checkout {
    font-size: 1rem;
  }
}
.button-checkout.hidden {
  display: none;
}

/* Full page background wrapper */
body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Centered container with a slightly transparent background */
#cart-container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 8px;
  min-height: 75vh;
  max-width: 75vw;
  margin: 100px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #f9f5e6;
}/*# sourceMappingURL=cart.css.map */