/* Base Colours */
.primary-colour {
  color: #3a3a37;
  background-color: #efe9cc;
}

.secondary-colour {
  color: #efe9cc;
  background-color: #3a3a37;
}

/* Footer */
footer a {
    text-decoration: none;
    color: #3a3a37;
}

footer a:hover {
    text-decoration: underline;
}