/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
/* Colors */
/* Fonts */
/* Font Sizes */
/* Z-Index */
/* Animation */
/* Element First Media Queries
========================================================= */
/* Button Mixin
========================================================= */
/* Body Fonts */
body,
.roboto-mono {
  font-family: "Roboto Mono", serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.roboto-condensed {
  font-family: "Roboto Condensed", serif;
  font-weight: 400;
  font-style: normal;
}

/* Content Sections */
.content-section h1,
.content-section h2 {
  color: #ed6c2c;
}

.text-content {
  color: #000;
  font-size: 1.4rem;
}
@media (max-width: 1024px) {
  .text-content {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .text-content {
    font-size: 1rem;
  }
}
@media (max-width: 420px) {
  .text-content {
    font-size: 0.8rem;
  }
}

/* Headings */
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3,
  h4 {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3,
  h4 {
    font-size: 1rem;
  }
}
@media (max-width: 420px) {
  h1 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1rem;
  }
}
/* Navbar */
.navbar {
  background-color: transparent;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
@media (max-width: 991px) {
  .navbar {
    background-color: #ffffff !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}
.navbar a.navbar-brand {
  font-size: 2rem;
  color: #ffffff;
  transition: color 0.3s ease;
}
@media (max-width: 1600px) {
  .navbar a.navbar-brand {
    font-size: 1.8rem;
  }
}
@media (max-width: 1024px) {
  .navbar a.navbar-brand {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  .navbar a.navbar-brand {
    font-size: 1.4rem;
  }
}
@media (max-width: 420px) {
  .navbar a.navbar-brand {
    font-size: 1.2rem;
  }
}
@media (max-width: 991px) {
  .navbar a.navbar-brand {
    color: #ed6c2c;
  }
}
.navbar a.navbar-brand:hover {
  color: #000;
  font-weight: 600;
}
.navbar a.nav-link {
  font-size: 1.4rem;
  color: #ffffff;
  transition: color 0.3s ease;
  text-align: right;
}
@media (max-width: 1600px) {
  .navbar a.nav-link {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .navbar a.nav-link {
    font-size: 1rem;
  }
}
@media (max-width: 991px) {
  .navbar a.nav-link {
    color: #ed6c2c;
  }
}
.navbar a.nav-link:hover {
  color: #000;
  font-weight: 600;
}
.navbar .badge {
  background-color: #000;
  color: #ffffff;
  font-size: 0.8rem;
  padding: 0.12rem 0.25rem;
  border-radius: 0.5rem;
}

/* Solid Navbar when scrolled */
.navbar-scrolled {
  background-color: #ffffff !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.navbar-scrolled a.nav-link,
.navbar-scrolled a.navbar-brand {
  color: #ed6c2c;
}
.navbar-scrolled a.nav-link:hover,
.navbar-scrolled a.navbar-brand:hover {
  color: #000;
}
.navbar-scrolled .badge {
  background-color: #ed6c2c;
}

/* Buttons */
.button-large {
  background-color: #f4edd2;
  box-shadow: 5px 5px 10px 1px #ed6c2c;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-top: 30px;
  font-size: 1.6rem;
}
@media (max-width: 1024px) {
  .button-large {
    font-size: 1.4rem;
  }
}
@media (max-width: 767px) {
  .button-large {
    font-size: 1.2rem;
  }
}
@media (max-width: 420px) {
  .button-large {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .button-large:hover {
    background-color: #ed6c2c;
    color: #ffffff;
  }
}

.button-small {
  background-color: #f4edd2;
  box-shadow: 5px 5px 10px 1px #ed6c2c;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 5px 10px;
  font-size: 1.4rem;
}
@media (min-width: 1024px) {
  .button-small:hover {
    background-color: #ed6c2c;
    color: #ffffff;
  }
}
@media (max-width: 1024px) {
  .button-small {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .button-small {
    font-size: 1rem;
  }
}
@media (max-width: 420px) {
  .button-small {
    font-size: 0.8rem;
  }
}

footer {
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.4rem;
  padding: 10px 5px;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
@media (max-width: 1600px) {
  footer {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  footer {
    font-size: 1rem;
  }
}
footer a {
  text-decoration: none;
  color: #000;
}
footer a:hover {
  color: #ed6c2c;
}

.progressbar {
  counter-reset: step;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}
.progressbar li {
  position: relative;
  flex: 1;
  text-align: center;
  font-size: 14px;
  color: #ccc;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 2px solid #ccc;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #fff;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ccc;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar.progressbar--step-1 li:nth-child(1) {
  color: #b5cbb2;
  font-weight: bold;
}
.progressbar.progressbar--step-1 li:nth-child(1):before {
  border-color: #b5cbb2;
  background-color: #b5cbb2;
  color: #ffffff;
}
.progressbar.progressbar--step-1 li:nth-child(1)::after {
  background: #b5cbb2;
}
.progressbar.progressbar--step-2 li:nth-child(-n+2) {
  color: #b5cbb2;
  font-weight: bold;
}
.progressbar.progressbar--step-2 li:nth-child(-n+2):before {
  border-color: #b5cbb2;
  background-color: #b5cbb2;
  color: #ffffff;
}
.progressbar.progressbar--step-2 li:nth-child(2)::after {
  background: #b5cbb2;
}
.progressbar.progressbar--step-3 li:nth-child(-n+3) {
  color: #b5cbb2;
  font-weight: bold;
}
.progressbar.progressbar--step-3 li:nth-child(-n+3):before {
  border-color: #b5cbb2;
  background-color: #b5cbb2;
  color: #ffffff;
}/*# sourceMappingURL=base.css.map */