{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}
  Checkout
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'payments/css/checkout.css' %}" />
{% endblock %}

{% block content %}
  <!-- Include Toast for messages -->
  {% include 'partials/toasts.html' %}

  <!-- Checkout Container -->
  <div id="checkout-container" class="container p-3 p-md-5">
    <div id="progressbar-container">
      <!-- Include Progress Bar Partial -->
      {% include 'partials/progress_bar.html' with progressbar_modifier='progressbar--step-2' %}
    </div>

    {% crispy order_form %}
  </div>
{% endblock %}

{% block postload_js %}
  {{ block.super }}
  <script src="{% static '../static/js/toasts.js' %}"></script>
  <script src="{% static '../static/payments/js/stripe.js' %}"></script>
{% endblock %}
