@use "../../../../static/scss/variables" as *;
@use "../../../../static/scss/mixins" as *;

h1, h2, h3 {
    color: $orange
}

.alert-empty {
    background-color: $light-blue-semi-transparent;
    border-color: $light-blue;
}

.form-control {
    width: 60px;
    @include for-size(tablet, down) {
        width: 50px;
    }
}

.checkout-subscript {
    font-size: 0.5em;
    font-style: italic;
    vertical-align: baseline;
  }