@use "../../../../static/scss/mixins" as *;

/* Hero Images */
#hero-image,
#hero-image2 {
    width: 100%;
    height: 50vh;
    /* Covers half the viewport height */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Responsive Hero Images */
#hero-image {
    background-image: url(../images/hero_image1/sunset_cloudy_climber_diedro_1920.webp);

    @include for-size(1441px, down) {
        background-image: url(../images/hero_image1/sunset_cloudy_climber_diedro_1440.webp);
    }

    @include for-size(tablet-lg, down) {
        background-image: url(../images/hero_image1/sunset_cloudy_climber_diedro_1024.webp);
    }

    @include for-size(640px, down) {
        background-image: url(../images/hero_image1/sunset_cloudy_climber_diedro_640.webp);
    }
}

#hero-image2 {
    background-image: url(../images/hero_image2/gerakopetra_hill_boulderer_walking_1920.webp);

    @include for-size(1441px, down) {
        background-image: url(../images/hero_image2/gerakopetra_hill_boulderer_walking_1440.webp);
    }

    @include for-size(tablet-lg, down) {
        background-image: url(../images/hero_image2/gerakopetra_hill_boulderer_walking_1024.webp);
    }

    @include for-size(640px, down) {
        background-image: url(../images/hero_image2/gerakopetra_hill_boulderer_walking_640.webp);
    }
}
