@use "variables" as *;
@use "mixins" as *;

/* Buttons */
.button-large {
    // Style mixin
    @include button-style($beige, $orange);
    // Margin
    margin-top: 30px;
    // Font sizes
    font-size: $l-font;
    @include for-size(tablet, down) {
        font-size: $m-font;
    }
    @include for-size(phone, down) {
        font-size: $s-font;
    }
    @include for-size(phone-sm, down) {
        font-size: $xs-font;
    }
    // Hover effect
    @include for-size(tablet-lg, up) {
        &:hover {
            background-color: $orange;
            color: $white;
        }
    }
}

.button-small {
    @include button-style($beige, $orange);
    // Padding
    padding: 5px 10px;
    // Hover effect
    @include for-size(tablet-lg, up) {
        &:hover {
            background-color: $orange;
            color: $white;
        }
    }
}
