@use "variables" as *;

/* Element First Media Queries
========================================================= */

// A map of breakpoints.
$breakpoints: (
  phone-sm: 420px,
  phone: 767px,
  tablet: 768px,
  tablet-lg: 1024px,
  desktop: 1025px,
  desktop-lg: 1600px,
  monitor: 1920px
);

@mixin for-size($breakpoint, $direction: down) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Determine the direction and then write the media query.
    @if $direction == up {
      @media (min-width: $breakpoint-value) {
        @content;
      }
    } @else if $direction == down {
      @media (max-width: $breakpoint-value) {
        @content;
      }
    }
  }
  // If the breakpoint doesn't exist in the map, pass a manual breakpoint
  @else {
    @if $direction == up {
      @media (min-width: $breakpoint) {
        @content;
      }
    } @else if $direction == down {
      @media (max-width: $breakpoint) {
        @content;
      }
    }
  }
}

/* Button Mixin
========================================================= */
@mixin button-style($bg-color, $shadow-color) {
  background-color: $bg-color;
  box-shadow: 3px 3px 0px 0px $shadow-color;
  color: $black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color $transition-fast, color $transition-fast;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  max-width: fit-content;
}

/* Full page background wrapper */
@mixin body-checkout-style {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  picture, img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Centered container with a slightly transparent background */
@mixin checkout-container-style {
  position: relative; // Ensure it sits above the background
  background-color: $white-semi-transparent;
  padding: 30px;
  border-radius: 8px;
  min-height: 75vh;
  max-width: 75vw;
  margin: 100px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@mixin auth-container-style {
  position: relative; // Ensure it sits above the background
  background-color: $white-semi-transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 8px;
  width: auto;
  max-width: 60%;
  height: fit-content;
  margin: 100px auto;
}