@use "variables" as *;

/* Element First Media Queries
========================================================= */

// A map of breakpoints.
$breakpoints: (
  phone-sm: 420px,
  phone: 767px,
  tablet: 768px,
  tablet-lg: 1024px,
  desktop: 1025px,
  desktop-lg: 1600px
);

@mixin for-size($breakpoint, $direction: down) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Determine the direction and then write the media query.
    @if $direction == up {
      @media (min-width: $breakpoint-value) {
        @content;
      }
    } @else if $direction == down {
      @media (max-width: $breakpoint-value) {
        @content;
      }
    }
  }
  // If the breakpoint doesn't exist in the map, pass a manual breakpoint
  @else {
    @if $direction == up {
      @media (min-width: $breakpoint) {
        @content;
      }
    } @else if $direction == down {
      @media (max-width: $breakpoint) {
        @content;
      }
    }
  }
}

/* Button Mixin
========================================================= */
@mixin button-style($bg-color, $shadow-color) {
  background-color: $bg-color;
  box-shadow: 5px 5px 10px 1px $shadow-color;
  color: $black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color $transition-fast, color $transition-fast;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  max-width: fit-content;
}

/* Full page background image */
@mixin body-checkout-style {
  // Urls applied are relative to the final compiled css file not this scss file
  background-image: url(../../../../static/images/checkout-bg-image/sandstone_rock_features_closeup_1920.webp);
  @include for-size(1441px, down) {
      background-image: url(../../../../static/images/checkout-bg-image/sandstone_rock_features_closeup_1440.webp);
  }
  @include for-size(tablet-lg, down) {
      background-image: url(../../../../static/images/checkout-bg-image/sandstone_rock_features_closeup_1024.webp);
  }

  @include for-size(640px, down) {
      background-image: url(../../../../static/images/checkout-bg-image/sandstone_rock_features_closeup_640.webp);
  }
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Centered container with a slightly transparent background */
@mixin checkout-container-style {
  background-color: $white-semi-transparent; /* White with transparency */
  padding: 30px;
  border-radius: 8px;
  min-height: 75vh;
  max-width: 75vw;
  margin: 100px auto; /* Centers container with margin at top/bottom */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
