/* Colors */
$orange: #ed6c2c;
$beige: #f4edd2;
$black: #000;
$white: #ffffff;
$white-semi-transparent: rgba(255, 255, 255, 0.9);

/* Fonts */
$font-roboto-mono: "Roboto Mono", serif;
$font-roboto-condensed: "Roboto Condensed", serif;

/* Font Sizes */
$xxl-font: 2rem;
$xl-font: 1.8rem;
$l-font: 1.6rem;
$m-font: 1.4rem;
$s-font: 1.2rem;
$xs-font: 1rem;
