@use "../../shop/static/shop/scss/hero";
@use "../../shop/static/shop/scss/fonts";
@use "variables" as *;
@use "mixins" as *;

// Additional error page specific styles
.content-section {
  &.text-center {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .lead {
    font-size: $l-font;
    @include for-size(tablet-lg, down) {
        font-size: $m-font;
    }
    @include for-size(phone, down) {
        font-size: $s-font;
    }
  }
}

.hero-wrapper {
  height: 80vh;
}